<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aplicacion.gmp">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Permite que una aplicación acceda a una ubicación aproximada. Alternativamente, es posible que desee -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- permiso que se necesita para utilizar firebase -->
    <uses-permission android:name="android.permission.INTERNET " />

    <application
        android:name=".MyFirebaseApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity android:name=".Portada.InicioActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DeviceControlActivity" />

        <service
            android:name=".BluetoothLeService"
            android:enabled="true" />
    </application>

</manifest>